* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
body .pagina{
    display: block;
}
nav{
    display: flex;
}
header ul{
    display:flex;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    margin:10px;
    margin-right: 20px;
}
header a{
    margin-right: 15px;
    color: black;
    font-size: 17px;
    text-decoration: inherit;
}
header img{
    clip-path: circle();
    margin-left: 20px;
}
.icono{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    width: 26px;
    height: 26px;
}
.icono{
    font-size: 30px;
    margin-right: 20px;
    color: transparent;
}

  
/* main*/
.logo_principal{
    display: flex;
    margin-top:12%;
    flex-direction: column;
    
}
.logo{
 object-fit: contain;
 height: 100px;
 
}
section{
    display: flex;
    align-items: center;
}
div{
    display: flex;
}
.barra{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.barra input {
    flex: 1;
    padding: 8px 20px;
    border: none;
    outline: none;
}
.botones{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    
}
.botones button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}

.idioma p {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.idioma a {
    margin-left: 5px;
    text-decoration: none;
}


footer{
    background: #f2f2f2;
    flex-shrink: 0;
    display: block;
}
.pais {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}.informacion {
    display: flex;
    align-items:flex-end;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #70757a;
    
}
.informacion ul li{
    display: inline-block;
    margin-left: 10px;
}